.App {
  text-align: center;
}

body{
  font-family:'Roboto', sans-serif;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navbar {
  background-color: rgba(213, 69, 169, 0.80);
  padding: 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.nav-container {
  max-width: 1200px;
  width: 100%;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin: 0 15px;
}

.nav-link {
  color: rgb(245, 245, 245);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  transition: color 0.3s ease-in-out, border-bottom 0.3s;
  padding: 5px 0;
}

.nav-link:hover,
.nav-link:focus {
  color: rgb(250, 250, 250);
  border-bottom: 2px solid rgb(250, 250, 250);
}

.active {
  color: rgb(245, 245, 245);
  border-bottom: 2px solid rgb(245, 245, 245);
}

.content {
  padding-top: 62px;
}

.hero {
  height: 100vh;
  width: 100%;
  background-image: url('../public/images/o-15.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.hero-container {
  position: relative;
  z-index: 2;
  text-align: center;
  color: white;
}

.hero-container h1 {
  font-size: 4rem;
  margin-bottom: 0.5rem;
}

.hero-container p {
  font-size: 1.5rem;
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 30px;
  margin: 0 auto; 
  max-width: 800px; 
  width: 100vw; 
  text-align: center;
  /* background-color: rgba(213, 69, 169, 0.80);
  color: rgb(245, 245, 245); */
}

@media (min-width: 768px) {
  .welcome {
    padding: 40px 20px;
  }
}

.offerings {
  padding: 40px;
  text-align: center;
  background-color: rgba(213, 69, 169, 0.80);
  color: rgb(245, 245, 245);
}

.offerings-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

@media (min-width: 768px) {
  .offerings-flex {
    flex-direction: row;
    align-items: center; 
    justify-content: center;
    gap: 60px; 
    height: 100%;
  }
}

/* Image Styling */
.image-container {
  max-width: 300px;
  width: 100%;
}

.responsive-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Offerings List */
.offerings-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 60px; 
  text-align: left;
  height: 100%; 
}

.offering-item {
  font-size: 1.3rem;
  line-height: 1.8;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.about {
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  height: 85vh; 
  width: 100%;
  background-image: url('../public/images/o-3.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  color: white;
}

.about::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.about-container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  padding: 40px;
  z-index: 2; 
}

.about-text {
  text-align: left;
  line-height: 1.8;
  font-size: 1.2rem;
  gap: 10px;
}

.about h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}


.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.contact-text {
  margin: 5px;
}

.location {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 30px 30px 30px 30px;
}

@media (min-width: 768px) {
  .location {
    flex-direction: row;
    align-items: flex-start;
    gap: 40px;
    justify-content: center;
  }
}

.image-container {
  max-width: 300px;
  width: 100%;
}

.responsive-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
